# Ignore all log files
*.log
# Ignore the node_modules directory
node_modules/
# Ignore all .ts and .tsx files
*.ts
*.tsx
# Ignore .git directory
.git/
# Ignore .env files
*.env
# Ignore cache directories
.cache/
# Ignore the ios and android directories
ios/
android/